/* src/components/styles/Header.css */
.header {
  width: 100%;
  background-color: #ffe600; /* Mantenemos el color amarillo de Mercado Libre */
  border-bottom: 2px solid #e0e0e0; /* Borde sutil para definir el header */
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Aumentamos el padding para un mejor espaciamiento */
}

.logo {
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  background-image: url('../assets/logo.png'); /* Verifica que la ruta del logo sea correcta */
  height: 34px; /* Altura ajustada del logo */
  width: 134px; /* Ancho ajustado del logo */
  display: flex;
  background-size: contain; /* Asegura que el logo mantenga su aspecto */
}

.header-nav {
  display: flex;
  align-items: center;
}

.login-link {
  text-decoration: none;
  color: black; /* Cambiamos el color para más contraste con el fondo amarillo */
  font-weight: bold;
  padding: 10px 20px; /* Ajustamos el padding para un botón más prominente */
  background-color: transparent; /* Fondo transparente para un estilo más limpio */
  border: none; /* Eliminamos el borde */
  cursor: pointer; /* Cursor como indicador de clic */
  transition: color 0.3s, transform 0.3s; /* Transición para interacción */
}

.login-link:hover {
  color: #333; /* Oscurecemos al pasar el mouse */
  transform: scale(1.05); /* Efecto de escalado al pasar el mouse */
}

.new-image {
  max-width: 340px; /* Ajuste del ancho máximo */
  max-height: 39px; /* Ajuste de la altura máxima */
  margin-left: auto; /* Alineación a la derecha */
}
